.header{
    text-align: center;
    padding-top: 200px;
    background-image: url(https://github.com/jonnygovish/IP3/blob/master/%20Delani%20Studio.jpg?raw=true);
    height: 600px;

}
.aboutus{
    text-align: center;
    padding: 40px;
}
toggle{
    display: none;
}
.hide{
    display: none;
    text-align: center;
}
.services{
    background-image: url(https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/s_image.jpg?raw=true);
    text-align: center;
    padding: 80px;
    color: white;
}
.do{
    text-align: center;
    padding: 50px;
    background-color: whitesmoke;
}
.icons{
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}
.prt h1{
    padding: 20px;

}
.prt1{
    display: flex;
    justify-content: space-evenly;
    padding-right: 110px;
    padding-left: 90px;
    padding-bottom: 20px;
}
.prt2{
    display: flex;
    justify-content: space-evenly;
    padding-left: 70px;
    padding-right: 110px;

}
.hide1,.hide2 ,.hide3,.hide4 {
    height: 210px;
    width: 210px;
    border: 15px solid red;
    background-color: transparent;
    position: absolute;
    top: 1600px;
    color: white;
    font-weight: bold;
    display: none;

}

.hide5,.hide6,.hide7,.hide8{
    height: 210px;
    width: 210px;
    border: 15px solid red;
    background-color: transparent;
    position: absolute;
    top: 1820px;
    color: white;
    font-weight: bold;

}

#ender{
    text-align: center;
    background-image: url(https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/c_image.jpg?raw=true);
    height: 500px;
    padding-top: 30px;
    color: snow;

}
.input1{
    padding: 10px;
}
.accounts{
    text-align: center;
    padding: 20px;
}
.footer{
    text-align: center;
    padding: 20px;
}